.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 3px 80px;
    max-width: 1512px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    width: 12rem;
}



.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.header-search {
    margin-left: 20px;
}

.header-search-input {
    width: 300px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.header-search-input::placeholder {
    color: #bbb;
    /* 薄い文字 */
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    /* ボタンの間隔 */
}

.header-nav__item {
    list-style: none;
}

.header-nav__link,
.header-nav__button {
    padding: 8px 14px;
    background: #fff;
    color: #333;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.header-nav__button:hover,
.header-nav__link:hover {
    opacity: 0.8;

}



/* 商品出品画面*/
.sell-form {
    width: 400px;
    /* 幅の調整 */
    margin: 40px auto;
    /* 中央寄せ（左右 auto） */
}

.sell-form label,
.sell-form input,
.sell-form textarea,
.sell-form select,
.sell-form button {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}



/* カテゴリタグ）*/
.sell-form .category-box .category-tag {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    border: 2px solid red;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    /* 折り返さない */
    width: auto;
    max-width: none;
}

/* 隠すチェックボックス（保持） */
.sell-form .category-box .category-tag input[type="checkbox"] {
    display: none;
}

/* チェック時の見た目 */
.sell-form .category-box .category-tag input[type="checkbox"]:checked+span {
    background: red;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 30px;
}

.sell-form label.category-tag {
    width: auto;
}

.sell-title {
    text-align: center;
    font-size: 28px;
    margin: 20px 0;
}

