.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-utilities nav {
    width: 18%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.header-search {
    margin-left: 20px;
}

.header-search-input {
    width: 300px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.header-search-input::placeholder {
    color: #bbb;
    /* 薄い文字 */
}